<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="POST" action="">  <!--POST 방식-보완도 상승-->
        {% csrf_token %}    <!--csrf 보완 토큰-->
        {{jss_form.as_p}}   
        <INPUT TYPE="submit" value="확인">
    </form>

    글자수 : <div class="counted_text">counted_text</div>

    <script src="{% static 'js/count.js' %}"></script>

</body>
</html>
